@media screen and (max-width: 770px) {
  .header {
    background-color: white;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    box-shadow: grey 2 2 2;
  }

  .headerLogo {
    display: flex;
    align-items: center;
  }
  .nav_mobile {
    position: fixed;
    top: 0;
    left: 0;
    background-color: green;
    width: 60%;
    height: 100vh;
    z-index: 200;
    .ul_mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style: none;
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 1099px) {
  .burger_svg {
    width: 30px;
    height: 30px;
    transform: 0.5s;
  }
  .header {
    background-color: white;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    box-shadow: grey 2 2 2;
    .nav_mobile {
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgb(173, 192, 173);
      width: 100%;
      height: 100vh;
      z-index: 200;
      .ul_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding-left: 0;
      }
    }
    .headerBody {
      z-index: 1000;
      margin-top: 82px;
      display: flex;
      width: 100%;
      height: 80px;
      justify-content: space-around;
      nav {
        width: 100%;
      }
      ul {
        padding-top: 0;
        margin-top: 0;
        height: 100%;
        li {
          display: flex;
          text-align: center;
          font-size: 1.2rem;
          width: 100%;
          height: 50px;
          margin: auto;
          a {
            display: flex;
            justify-content: center;
            width: 80%;
            margin: auto;
          }
          a:hover {
            display: flex;
            text-align: center;
            align-items: center;
            background-color: rgb(181, 192, 181);
            transition: 0.6s;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            height: 50px;
            width: 100%;
          }
        }
      }
    }

    .nav {
      list-style: none;
      display: flex;
      flex-direction: column;
    }
  }
  .headerLogo {
    position: fixed;
    left: 20px;
    top: 20px;
  }

  .nav_mobile {
    width: 100%;
    height: 100vh;
    z-index: 200;
    overflow: hidden;
    .ul_mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style: none;
    }
  }
  .nav_notmobile {
    display: none;
  }
  .burger_open {
    height: 80px;
    position: fixed;
    top: 0px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .burger_close {
    height: 80px;
    position: fixed;
    top: 0px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1100px) {
  .nav_mobile {
    display: none;
  }
  .nav_notmobile {
    padding-top: 5px;
    width: 90%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    text-align: center;
    height: 60px;

    a {
      border: solid green 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 60px;
      border-radius: 20px;
    }
    a:hover {
      background-color: rgb(181, 192, 181);
      transition: 0.6s;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      height: 80px;
    }
  }
  .header {
    background-color: white;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    box-shadow: grey 2 2 2;

    .headerBody {
      display: flex;
      height: 80px;
    }
    .headerLogo {
      display: flex;
      align-items: center;
      height: 80px;
    }
    .burger_open {
      display: none;
    }
    .burger_close {
      display: none;
    }
  }
}
