.header {
  background-color: green;
  width: 100%;
  height: 80px;
  position: fixed;
  left: 10px;
  z-index: 2000;
}
.headerBody {
  background-color: green;
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-between;
}
.headerList {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 60%;
  justify-content: space-around;
  background-color: green;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}
.headerLogo {
  background-color: green;
  height: 1em;
  margin-left: 0.5rem;
}
.logo {
  background-color: green;
  height: 1em;
  margin-left: 0.5rem;
}
.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.presentation {
  border: solid 2px green;
  border-radius: 50px;
  width: 80%;
  display: flex;

  align-items: center;
  text-align: center;
  margin: auto;
}
.profile {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.description {
  width: 50%;
}
.descriptionText {
  font-size: 5;
  padding: 5px;
}

.title {
  text-decoration: none;
  font-family: Calibri;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.grid li {
  list-style: none;
}
.h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.ul {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-left: 0px;
}

.card > p {
  display: flex;
  justify-content: space-around;
}

.card {
  box-sizing: border-box;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 400px;
}
.images {
  max-width: 100%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: white;
}

@media (max-width: 600px) {
  .header {
    background-color: green;
    width: 100%;
    height: 80px;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
@media (min-width: 601px) {
  .header {
    background-color: green;
    width: 100%;
    height: 60px;
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }
}
