@media screen and (max-width: 600px) {
  .profile {
    width: 100%;
    height: 499px;
  }
  .article {
    width: 90%;
  }
  .presentation {
    border: solid 2px green;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  .description {
    margin-top: 5px;
    width: 100%;
  }
  .descriptionText {
    width: 100%;
    margin: auto;
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }
  .elem {
    width: 90%;
    padding: 5px;
  }

  .card {
    .images {
      max-width: 20%;
    }
    .img_description {
      font-family: "Calibri";
      color: black;
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 601px) {
  .img_description {
    font-size: large;
    font-weight: bold;
    font-family: "Calibri";
  }
  .article {
    max-width: 30%;
  }
  .img {
    max-width: 30%;
    box-sizing: border-box;
  }

  .presentation {
    width: 600px;

    display: flex;
    flex-direction: row;
  }
  .profile {
    max-width: 100%;
  }
  .description {
    height: 80%;
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.elem {
  width: 30%;
}

.img {
  max-width: 30%;
  box-sizing: border-box;
}
.img_description {
  font-size: large;
  font-weight: bold;
  font-family: "Calibri", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  padding: 0 2rem;
}

.main {
  padding-top: 90px;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentation {
  border: solid 2px green;
  width: 80%;
  height: 500px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
}

.profile {
  width: 100%;
  height: 495px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h2 {
  font-size: 1em;
  border-radius: 50px;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 1.2em;

  width: 50%;
}
.descriptionText {
  font-size: 5;
  padding: 0px 5px 5px 5px;
  max-height: 80%;
  font-size: 0.8em;
}

.title {
  text-decoration: none;
  font-family: Calibri;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace;
}

.grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.grid li {
  list-style: none;
}
.h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.ul {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-left: 0px;
}

.card > p {
  display: flex;
  justify-content: space-around;
}

.card {
  box-sizing: border-box;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 400px;
}
.images {
  max-width: 100%;
}

.card:hover,
.card:focus,
.card:active {
  color: green;
  border-color: green;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
