@media screen and (min-width: 701px) {
    .presentation {
        padding-top: 120px;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: auto;
        .profile {
            width: 50%;
            .images {
                width: 100%;
            }
        }

        .description {
            padding: 50px;
            width: 100%;
        }
        .descriptionText {
            width: 100%;
            margin: auto;
        }
    }
}
@media screen and (max-width: 700px) {
    .presentation {
        padding-top: 6rem;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: auto;
        .profile {
            .images {
                width: 100%;
            }
        }

        .description {
            padding: 50px;
            width: 100%;
        }
        .descriptionText {
            width: 100%;
            margin: auto;
        }
    }
}

@media screen and (min-width: 701px) {
    .presentation {
        /* width: 600px; */
        display: flex;
        flex-direction: row;
        .profile {
            display: flex;
            align-items: center;
        }
    }

    .description {
        width: 100%;
        padding: 50px;
    }
}
